body {
  font-family: monospace;
  background-image: none;
}

.faded-bodybackground {
  position: relative;
}

.faded-bodybackground:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./assets/snø-fjell.jpg);
  opacity: 0.2;
  z-index: -1;
}

.logo-searchbar {
  display: flex;
  flex-direction: row;
}

.cart {
  display: flex;
  font-size: 35px;
}

ul li a {
  text-decoration: none;
  color: #000;
}

h1 {
  font-family: monospace;
  font-size: 50px;
  color: #000;
}

.card {
  flex: 1;
  max-width: 555px;
  min-width: 300px;
}

.image-row {
  padding: 1em;
}

.image-container {
  border-radius: 8px;
  position: relative;
}

.image-container::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 87%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: rgba(187, 176, 176, 0.311);
  opacity: 1;
  border: solid rgb(220, 220, 220);
  z-index: 100;
}

.image-container img {
  position: relative;
  max-width: 100%;
  z-index: 200;
}

.back {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  align-items: center;
  margin: 30px;
  font-family: monospace;
  font-size: 20px;
  text-decoration: none;
  color: #000;
}

.parent-container {
  display: flex;
  flex-direction: row;
}
.container-cart {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
  justify-content: center;
}

.checkout {
  display: flex;
  flex: 1;
}

.checkout_fav-button {
  flex: 1;
  background-color: rgb(96, 97, 113);
  padding: 0 2px;
  height: 45px;
  color: #fff;
  font-size: 35px;
}

.select-size {
  background-color: rgb(96, 97, 113);
  font-size: 25px;
  padding: 0 5px;
  color: #fff;
}

.checkout-controls {
  display: flex;
  margin-top: 10px;
  gap: 4px;
}

.add-to {
  background-color: rgb(96, 97, 113);
  text-decoration: none;
  font-family: monospace;
  font-size: 25px;
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6px;
}

.add-to a {
  list-style: none;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.free {
  display: flex;
  flex-direction: column;
  background-color: rgb(96, 97, 113);
  text-decoration: none;
  font-family: monospace;
  font-size: 25px;
  margin-top: 10px;
}

.free a {
  list-style: none;
  text-decoration: none;
  color: rgb(184, 174, 174);
}

.cart {
  color: #fff;
  font-size: 56px;
}
