body {
  font-family: monospace;
  background-image: none;
}

.logo-searchbar {
  display: flex;
  flex-direction: row;
}

.cart {
  display: flex;
  font-size: 35px;
}

ul li a {
  text-decoration: none;
  color: #000;
}

h1 {
  font-family: monospace;
  font-size: 50px;
  color: #000;
}

form {
  display: flex;
  margin: auto;
  padding: 3vw 2vh;
  flex-direction: column;
  gap: 1vh;
  max-width: 1000px;
  font-size: 20px;
}

input {
  min-height: 65px;
}

input[type="Email"] {
  background: #fff;
  border: solid black;
}

input[type="Password"] {
  background: #fff;
  border: solid black;
}

input[type="Login"] {
  background: #fff;
  border: solid black;
}

button {
  display: flex;
  margin: auto;
  font-family: monospace;
  font-size: 25px;
  background-color: rgb(159, 173, 173);
}

.register {
  text-align: center;
  font-size: 15px;
}

a {
  text-decoration: none;
  color: black;
}

.cart {
  color: #fff;
  font-size: 46px;
}
