€html {
  box-sizing: border-box;
}
html:focus-within {
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
  margin: 0;
}

.bg-hiking {
  background-image: url(./assets/fog.jpg);
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center center;
}

.home-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: auto;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 50px;
  position: relative;
  font-family: monospace;
  color: rgb(0, 0, 0);
  text-decoration: none;
  text-align: center;
}

.login {
  width: 200px;
  display: flex;
  text-decoration: none;
  list-style: none;
  font-size: 20px;
  font-family: monospace;
  text-decoration: none;
  color: rgb(244, 235, 235);
  margin-top: 20px;
  margin-right: 30px;
}

.shop {
  list-style: none;
}

.shop a {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-family: sans-serif;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.shop :hover {
  font-size: 50px;
  color: rgb(97, 97, 97);
}

.shop-about {
  list-style: none;
}

.shop-about :hover {
  font-size: 50px;
  color: rgb(97, 97, 97);
}

.shop-about a {
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-family: sans-serif;
  color: rgb(40, 43, 44);
  text-decoration: none;
}

body {
  font-family: monospace;
  background-image: none;
}

.faded-bodybackground {
  position: relative;
}

.faded-bodybackground:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./assets/snø-fjell.jpg);
  opacity: 0.8;
  z-index: -1;
}

header {
  width: 100%;
  padding: 0 5px;
  height: 350px;
}

.header--with-navbar {
  display: block;
  width: 100%;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  font-size: 20px;
  font-family: monospace;
  padding-bottom: 10px;
  padding: 0;
}

.links li {
  display: inline-block;
  flex: 1;
  text-align: center;
  max-width: 200px;
  border-radius: 3em;
  /*padding: 0.2em 4em;*/
  border: 1px solid #fff;
  flex-wrap: wrap;
}

.logo {
  display: flex;
  justify-items: center;
  list-style: none;
  height: 100px;
  width: 250px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 30px;
  filter: brightness(2);
}

.logo img {
  width: 100%;
}

.logo-searchbar {
  display: flex;
  flex-direction: row;
}

.searchbar {
  margin: auto;
  width: 800px;
  min-width: 100px;
  background-color: rgb(176, 181, 181);
  border: 1px solid #fff;
  border-radius: 50px;
  padding: 1em;
  font-size: 20px;
}

.button {
  min-height: 45px;
  min-width: 45px;
  border: 0 solid transparent;
}

@media screen and (max-width: 480px) {
  .logo-searchbar .logo {
    display: none;
  }
}

.header-clothes {
  font-size: 50px;
}

.different-jackets {
  border: 2px solid black;
}
